body{
    text-align: center;
}
.navbar-brand{
    color: orangered;
}
.nav-item{
    color: white;
    font-weight: 600;
    margin-left: 20px;
    text-align: left;
}
.navbar-brand{
    font-size: 35px;
    margin: 30px;
    padding: 20px 20px;
}
.home{
    width: "100%";
    text-align: center;
}
.name{
    color: orangered;
}
.btn{
    background-color: orangered;
    border-radius: 100px;
}
.text{
    color: #646363;
}
.fc{
    background-color: black;
    color: white;
}
.ft{
    color: orangered;
}
.tutorial{
    margin: 30px;
    padding: 30px 30px;
}
.image{
    width: 50px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}
.im{
    width: 200px;
    border-radius: 50%;
}
.color{
    color: white;
}
.container{
    margin: 20px;
}